html,
body,
main {
  margin: 0;
  padding: 0;
  height: 99%;
}
#mob {
  flex-direction: column;
  height: fit-content;
  margin: 2rem 0;
  gap: 2rem;
}
#mobImg {
  display: flex;
  justify-content: space-around;
  gap: 3rem;
}
#mobImg .imgCont {
  object-fit: contain;
  height: fit-content;
}
#mobImg .imgCont img {
  object-fit: contain;
}
#mobImg h1 {
  font-size: 4rem;
  writing-mode: vertical-lr;
  text-orientation: upright;
  -webkit-text-orientation: upright;
  text-shadow: -1px 1px 0 #000, 1px 1px 0 #000, 1px -1px 0 #000, -1px -1px 0 #000;
}
#mobTop {
  text-align: left;
  display: flex;
  align-items: center;
  font-family: calibri;
}
#mobBottom {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  text-align: right;
  color: crimson;
  text-shadow: none !important;
  font-weight: 0;
  font-family: calibri-light;
}
#mobImg .num {
  writing-mode: horizontal-tb;
}
.metal {
  color: #7f7f7f;
}
#desktop2 {
  flex-direction: column;
  /* gap: 2rem; */
}
#desktop2 img {
  object-fit: contain;
  width: 100%;
}
#desktop2 footer {
  padding: 1rem;
}
#desktop {
  display: none;
  /* display: flex; */
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  height: 100%;
  gap: 2rem;
}
#imgBanner {
  display: flex;
  justify-content: space-between;
  max-width: 100%;
  max-height: 90vh;
  margin: 0 2rem;
}
#desktop .imgCont {
  width: 20%;
  display: flex;
  align-items: center;
  justify-content: center;
}
#imgBanner img {
  max-width: 100%;
  max-height: 100%;
  object-fit: contain;
}
.imgBannerTxt {
  font-family: "Calibri", sans-serif;
  font-weight: lighter;
  font-size: 4vw;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  text-shadow: -1px 1px 0 #000, 1px 1px 0 #000, 1px -1px 0 #000, -1px -1px 0 #000;
}
.imgBannerTxt > div {
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
footer {
  /* display: none; */
  /* position: absolute; */
  /* bottom: 1.5rem;
  left: 50%;
  transform: translate(-50%); */
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 0.5rem;
}
footer p {
  text-align: center;
}
.he {
  color: #c00000;
}
.li {
  color: #fff2cc;
}
.sh {
  color: #ff0000;
}
.ve {
  color: #f8cbad;
}
.show {
  align-items: baseline !important;
}
@font-face {
  font-family: calibri-light;
  src: url(fonts/calibril.ttf);
}
@font-face {
  font-family: calibri;
  src: url(fonts/Calibri.ttf);
}
