
main{
    display:grid;
    grid-template-columns: 1fr 1fr;
    grid-auto-rows: 42vh;
    gap: 1rem;
    margin:0 2rem;
    height:fit-content;
    max-width:100vw;
}
main a{
    display:flex;
    justify-content: center;
    align-items: center;
}
section{
    height:90%;
    width:90%;
    display:flex;
    justify-content: center;
    align-items: center;
    position: relative;
    cursor:pointer;
    transition: .1s;
    border-radius: 10px;
}
.fill{
    width:100%;
    height:100%;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    border-radius: 15px;
}

.fill > img, .fill > video{
    width:100%;
    height:100%;
    object-fit: cover;
}
.cardHover{
    width:100%;
    height: 100%;
    z-index: 999;
    position: absolute;
}
.titleCont{
    position: absolute;
    color:black;
    height:2rem;
    top:85%;
    font-size: 1.5rem;
    font-weight: 600;
    padding:1rem;
    min-width:33%;
    border-radius: 16px;
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    background:#ffffff50;
    box-shadow: 0 4pc 30px #00000010;
    border:2.5px solid #000000;
    transition: .5s;
    display: flex;
    justify-content: center;
    align-items: center;
    transform: translate(0,-50%);
}
/* .sectionTitle{
    position: absolute;
    bottom:-5rem;
    transition: .25s ease-out;
} */
.sectionShadow{
    position: absolute;
    transition: .25s;
    opacity:0;
    mask:linear-gradient(transparent 50%,#ffffff 100%);
    background:linear-gradient(transparent 85%,#ffffff 100%);
    backdrop-filter: blur(10px);
    height:100%;
    width:100%;
}
@media screen and (max-width:700px){
    main{
        grid-template-columns: 1fr;
        margin:0;
    }
}
@font-face{
    font-family: casino;
    src:url(fonts/Casino3D.ttf)
}