/* main{
    max-width: 1000px;
    margin:auto;
} */
main h1{
    text-align: center;
    font-size: 4rem;
}
.projInfo{
    margin:0 1rem;
}
.projInfo p{
    font-size: 1.1rem;
    text-align: justify;
}
#images{
    display:flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}
.imgCont{
    width:100%;
    height:100%;
}
.imgCont img{
    width:100%;
    border-radius: 10px;
}
#images .projCont{
    width:30%;
    height:100%;
    margin:1rem;
    position: relative;
    cursor: default;
}

#images .imageDesc{
    opacity: 0;
    transition: .25s;
    position:absolute;
    overflow: scroll;
    display:grid;
    bottom:10px;
    left:50%;
    transform: translate(-50%);
    width:95%;
    background:#ffffff50;
    backdrop-filter: blur(10px);
    border-radius:10px;
    border: 2px solid black;
    max-height: 90%;
}
.imageDesc .mainDesc{
    overflow: auto;
    /* max-height: 50%; */
}
.imageDesc aside{
    width:100%;
    display:flex;
    justify-content: space-between;
}
.imageDesc aside p{
    font-weight: 550;
}
.imageDesc h1{
    font-size: 2rem;
}
.imageDesc p{
    font-size: 1.25rem;
    margin:.5rem;
}
#statement{
    max-width:700px;
    margin:auto;
    text-align:justify;   
}
#statement p{
    margin:1rem;
}
@media screen and (max-width:700px){
    #images .projCont{
        width:90%;
    }
}